---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Sobre mim"
  description="Conheça um pouco mais sobre mim, Gabriel, um apaixonado desenvolvedor Front-end com uma rica trajetória em aplicações web de alto desempenho."
  pubDate={new Date("10 Jan 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Oi! Meu nome é Gabriel, e sou um apaixonado desenvolvedor Front-end com uma
    rica trajetória em aplicações web de alto desempenho. Possuo formação em
    Análise e Desenvolvimento de Sistemas pela FIAP, além de estar imerso em uma
    pós-graduação em Arquitetura de Software.
  </p>
  <p>
    Durante minha carreira, participei de projetos desafiadores, proporcionando
    soluções inovadoras para empresas de diversos setores. Meu expertise abrange
    JavaScript, TypeScript, Vue, Nuxt, Vuex, Pinia, Jest, GraphQL, Storybook,
    Vite, Vuetify, Tailwind, Node, entre outras ferramentas do robusto
    ecossistema Vue. Essas tecnologias são minha paleta para criar experiências
    de usuário envolventes e interfaces responsivas.
  </p>
  <p>
    Além da proficiência técnica, destaco minhas habilidades em liderança e
    gestão de projetos. Fui líder de equipes multidisciplinares, garantindo
    entregas pontuais e mantendo padrões elevados de qualidade.
  </p>
  <p>
    Ao longo da minha trajetória, atuei em setores tão diversos quanto seguros,
    e-commerce, transporte e alimentação. Essa variedade proporcionou-me
    insights valiosos, adaptando minhas habilidades às demandas específicas de
    cada nicho.
  </p>
  <p>
    Mantenho-me constantemente atualizado com as últimas tendências e melhores
    práticas no desenvolvimento front-end. Meu objetivo é impulsionar a inovação
    e aprimorar continuamente a experiência do usuário. Além disso, tenho
    experiência na implementação de monorepos e design systems, contribuindo
    para a eficiência e coesão em projetos de grande escala.
  </p>
  <p>
    Estou empolgado para compartilhar minha jornada e conhecimento neste blog,
    abordando tópicos desde tecnologias emergentes até estratégias de gestão e
    boas práticas no desenvolvimento de software. Fique à vontade para explorar
    os conteúdos e participar dessa jornada de aprendizado e crescimento!
  </p>
</Layout>
