---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <div class="header">
    <a href="/" class="title"> ⚡ Gabriel Caiana </a>
    <ThemeToggle />
  </div>
</header>

<style>
  header {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  .title {
    text-decoration: none;
  }
  .title h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-heading);
  }
</style>
